---
import Aboutme from '../components/Aboutme.astro';
import Footer from '../layouts/Footer.astro';
import Skills from '../components/Skills.astro';
import Works from '../components/Works.astro';
import Form from '../components/Form.astro';
import Certficicaciones from '../components/Certficicaciones.astro';
import '../styles/styles.css'
---
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/icono.svg" type="image/x-icon">

	<title>SebasDev</title>
</head>
<body>
  <main>
    <Aboutme />
    <Skills/>
    <Certficicaciones/>
    <Works/>
    <Form/>
    <Footer/>
  </main>
</body>
</html>
