---
import Card from '../components/Card.astro';
import Aboutme from '../components/Aboutme.astro';
import Footer from '../layouts/Footer.astro';
import Skills from '../components/Skills.astro';
import Works from '../components/Works.astro';
---
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SebasDev</title>
</head>
<body>
	<Card />
  <Aboutme />
  <Skills/>
  <Works/>
  <Footer/>
</body>

</html>

<style is:global>
	* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    font-style: italic;
  }
  
  /* Estilos sombreados */
  
  .box-shadow {
    border: 5px solid #80ff60;
    box-shadow: 0px 0px 10px #fafafa;
  }
  
  .white-shadow {
    border: 5px solid #fafafa;
    box-shadow: 0 0 10px #80ff60;
  }
  
  body {
    background: rgb(10, 39, 96);
    background: radial-gradient(circle, rgba(10, 39, 96, 1) 0%, rgba(15, 16, 65, 1) 100%);
    color: #fafafa;
  }
  
  main {
    display: grid;
  }
</style>