---
import Footer from '../layouts/Footer.astro';
---
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SebasDev</title>
</head>
<body>
	<h1>Hola</h1>
	<Footer/>
</body>
</html>

<style>
	body{
	background: rgb(10, 39, 96);
    background: radial-gradient(circle, rgba(10, 39, 96, 1) 0%, rgba(15, 16, 65, 1) 100%);
    color: #fafafa;
	}
</style>