<article class="about-me-container white-shadow">
  <h2>¡Sobre mi!</h2>
  <div class="btn-container">
    <button class="btn" id="data-btn">Datos</button>
    <button class="btn" id="hobbie-btn">Hobbies</button>
    <button class="btn" id="education-btn">Educacion</button>
  </div>
  <p style="display: block;" class="txt" id="txt-data">
    Soy un apasionado desarrollador en formación con habilidades como barista
    profesional en cafetería de especialidad. Actualmente estudio para
    convertirme en desarrollador Full Stack, una meta personal que persigo desde
    mi fascinación inicial por la programación. Mi objetivo es iniciar mi
    carrera profesional en programación para continuar creciendo y aprender
    sobre las últimas tecnologías constantemente.
  </p>
  <p style="display: none;" class="txt" id="txt-hobbie">
    Me gusta el fútbol, tengo la suerte de realizar este deporte diariamente con
    amigos y familia. Me gustan mucho los animales y tengo 2 gatos como mascotas
    llamados León y Gamma. Hago ejercicio diariamente y en mis tiempos libres
    pinto sobre lienzos de tela con acrílico.
  </p>
  <p style="display: none;" class="txt" id="txt-edu">
    Participé en programas de aprendizaje como Argentina Programa 4.0, donde
    adquirí conocimientos básicos de Front-End, ReactJS, Python y JavaScript.
    También completé un curso avanzado de Programador Web Full Stack en la UTN,
    el cual finalicé en 2023. Actualmente, estoy participando en una beca
    llamada IntegrarTec con el objetivo de obtener otro título como Programador
    Web Full Stack. 
  </p>
  <div class="pdf-container">
    <p>Aquí puedes descargar mi CV:</p>
    <button class="btn"><a href="/cv.pdf" download>
      Descargar CV
    </a></button>
  </div>
</article>

<style>
  .about-me-container {
    margin: 1em;
    padding: 0.3em;
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
      margin-bottom: 0.2em;
      color: #80ff60;
    }

    p {
      padding: 0.5em;
    }
  }
  .pdf-container button{
   margin: 0 auto;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    width: 100px;
    margin: 0.2em;
    background-color: rgba(27, 28, 82, 0);
    border: 2px solid #80ff60;
    box-shadow: 0 0 5px #fafafa;
    color: #fafafa;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.5em;
  }

  .btn:hover {
    color: #80ff60;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    //Funcion para botones en SobreMi
    const btnData = document.getElementById("data-btn");
    const btnHobbie = document.getElementById("hobbie-btn");
    const btnEdu = document.getElementById("education-btn");
    const infoData = document.getElementById("txt-data");
    const infoHobbie = document.getElementById("txt-hobbie");
    const infoEdu = document.getElementById("txt-edu");

    btnData.addEventListener("click", () => {
      showTxt(infoData);
    });
    btnHobbie.addEventListener("click", () => {
      showTxt(infoHobbie);
    });
    btnEdu.addEventListener("click", () => {
      showTxt(infoEdu);
    });

    const showTxt = (info) => {
      const allTxt = document.querySelectorAll(".txt");
      allTxt.forEach((p) => {
        p.style.display = "none";
      });
      info.style.display = "block";
    };
  });
</script>
