<article class="about-me-container white-shadow">
    <h2>¡Sobre mi!</h2>
    <div class="btn-container">
        <button class="btn" id="data-btn">Datos</button>
        <button class="btn" id="hobbie-btn">Hobbies</button>
        <button class="btn" id="education-btn">Educacion</button>
    </div>
    <p style="display: block;" class="txt" id="txt-data">Soy Sebastian! Vivo en Avellaneda, Buenos Aires
        Argentina.
        Tengo 27 años y trabajo actualmente como barista profesional en una cafeteria de especialidad
        ubicada en el barrio de Recoleta. Hace 3 años estudio para poder ser desarrollador FullStack que es
        una meta de vida personal ya que me apasiona programar desde que conoci el mundo tegnologico
    </p>
    <p style="display: none;" class="txt" id="txt-hobbie">
        Me gusta jugar al futbol, soy hincha de River Plate y tengo la suerte de realizar este deporte
        diariamente con amigos y
        familia.
        Hago kick boxing no de manera profesional sino entreno para tener buen estado fisico, tambien hago
        cuadros con pintura acrilica!.
        Me gustan mucho los animales y tengo 2 gatos como mascotas llamados Leon y Gamma.
    </p>
    <p style="display: none;" class="txt" id="txt-edu">
        Termine el secundario, Sigo en proceso de aprendizaje estudiando por cuenta propia. Realice
        programas como
        Argentina Programa 4.0 en el cual aprendi sobre los conceptos basicos de Front-End, ReactJS, Phyton
        y Javascripts. Tambien pude abonar un curso sobre Programador web FullStack Avanzado en la UTN la
        cual finalice en 2023.
    </p>
</article>

<style>
     .about-me-container {
    margin: 1em;
    padding: 0.3em;
    text-align: center;
    max-width: 100%;
  
    & h3 {
      margin: 0.2em;
      color: #80ff60;
    }
  
    p {
      padding: 0.5em;
    }
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    width: 100px;
    margin: 0.2em;
    background-color: rgba(27, 28, 82, 0);
    border: 2px solid #80ff60;
    box-shadow: 0 0 5px #fafafa;
    color: #fafafa;
    cursor: pointer;
    font-size: 0.7rem;
    padding: 0.5em;
  }
  
  .btn:hover {
    color: #80ff60;
  }
  
</style>