<section id="app" class="w-full p-4 rounded-lg shadow sm:p-8">
    <h1
        class="text-3xl font-extrabold md:text-4xl lg:text-5xl text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
    >
        Acerca de mi
    </h1>
    <article class="flex flex-col md:flex-row m-3 p-2 lg:p-4">
        <figure class="max-w-lg">
            <img
                class="h-auto max-w-full rounded-lg"
                src="icons/logo.svg"
                alt="image description"
            />
        </figure>
        <section class="m-3">
            <h3
                class="mb-4 text-white text-2xl font-extrabold text-gray-900 md:text-4xl lg:text-5xl"
            >
                Sebastian Galeano <br />
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
                    >Full Stack Developer - MERN</span
                >
            </h3>
            <p class="md:text-xl lg:text-2xl">
                ¡Hola Mundo! Soy un Desarrollador apasionado por la programación
                con más de 2 años de experiencia trabajando en proyectos tanto
                académicos como profesionales. Mi enfoque principal es crear
                soluciones eficientes y escalables utilizando una amplia gama de
                tecnologías y herramientas.
            </p>
        </section>
    </article>
    <article>
        <section id="buttons-container" class="flex justify-center m-1 lg:justify-around">
            <button
                id="my-experience"
                class="lg:text-xl relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
            >
                <span
                    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-darkBg dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                >
                    Mi experiencia
                </span>
            </button>
            <button
                id="my-philosophy"
                class="lg:text-xl relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
            >
                <span
                    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-darkBg dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                >
                    Mi Filosofía
                </span>
            </button>
            <button
                id="my-search"
                class="lg:text-xl relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
            >
                <span
                    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-darkBg dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                >
                    Lo que busco
                </span>
            </button>
        </section>
        <section>
            <section id="experience">
                <h3
                class="text-xl font-extrabold md:text-2xl lg:text-4xl text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
                >
                   Mi experiencia
                </h3>
                <p class="md:text-xl lg:text-2xl">
                    A lo largo de mi carrera, he trabajado en el desarrollo de
                    aplicaciones web completas, desempeñando tanto el rol de
                    front-end como back-end. Mi experiencia incluye el uso de
                    varios frameworks y tecnologías, tales como: Front-end:
                    React.js, Next.js, y Astro. Back-end: Node.js, NestJS. Bases
                    de datos: Experiencia con PostgreSQL y Prisma ORM para la
                    gestión de bases de datos relacionales. Además, tengo
                    experiencia creando APIs RESTful, utilizando prácticas de
                    desarrollo modernas como el patrón MVC para estructurar
                    proyectos, y diseñando diagramas de bases de datos para
                    asegurar la eficiencia y escalabilidad de los sistemas.
                </p>
            </section>
            <section id="philosophy-section" class="hidden">
                <h3
                class="text-xl font-extrabold md:text-2xl lg:text-4xl text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
                >
                  Mi Filosofía
                </h3>
                <p class="md:text-xl lg:text-2xl">
                    Me considero autodidacta y tengo una gran pasión por la
                    programación. Dedico más de 2 horas diarias a aprender sobre
                    nuevas tecnologías y mejorar las que ya manejo, lo que me
                    permite mantenerme actualizado con las últimas tendencias y
                    buenas prácticas en el desarrollo de software.
                </p>
            </section>
            <section id="search" class="hidden">
                <h3
                class="text-xl font-extrabold md:text-2xl lg:text-4xl text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
           Lo que busco
            </h3>
                <p class="md:text-xl lg:text-2xl">
                    Estoy buscando formar parte de un equipo donde pueda aportar
                    mis habilidades técnicas, aprender de otros profesionales y
                    colaborar en la creación de productos innovadores. Mi
                    objetivo es seguir creciendo como desarrollador y seguir
                    aprendiendo día a día para convertirme en un experto en el
                    campo.
                </p>
            </section>
        </section>
    </article>
</section>

<script>
    import { initializeAboutHandlers } from "@/utils/buttonHandler";
    document.addEventListener("DOMContentLoaded", () => {
        initializeAboutHandlers();
    });
</script>
