<section id="app" class="m-2 flex flex-col h-full">
    <h1
        class="text-3xl font-extrabold md:text-4xl lg:text-5xl head-Gradient md:mb-3"
    >
        &lt; Acerca de mi /&gt;
    </h1>
    <article class="grid gap-4 justify-center justify-items-center md:grid-cols-2 md:gap-6">
        <figure class="max-w-xs lg:max-w-md">
            <img
                class="h-auto max-w-full rounded-lg"
                src="/icons/logo.svg"
                alt="image description"
            />
        </figure>
        <article class="card-blue">
            <h3
                class="text-white text-xl font-extrabold md:text-2xl lg:text-3xl"
            >
                Sebastian Galeano <br />
                <span class="head-Gradient">Full Stack Developer - MERN</span>
            </h3>
            <p class="text-sm md:text-md lg:text-xl">
                ¡Hola Mundo! Soy un Desarrollador apasionado por la programación
                con más de 2 años de experiencia trabajando en proyectos tanto
                académicos como profesionales. Mi enfoque principal es crear
                soluciones eficientes y escalables utilizando una amplia gama de
                tecnologías y herramientas.
            </p>
            <h3
                class="m-4 head-Gradient text-xl font-extrabold md:text-2xl lg:text-4xl"
            >
                &lt;Stack Tecnológico /&gt;
            </h3>
            <article class="grid gap-2 grid-cols-5 md:grid-cols-7">
                <section class="card-blue">
                    <figure class="max-w-15">
                        <img
                            src="/icons/js.svg"
                            alt="Javascripts"
                            class="object-fit"
                        />
                    </figure>
                </section>
                <section class="card-blue">
                    <figure class="max-w-15">
                        <img src="/icons/Astro.svg" alt="astro" />
                    </figure>
                </section>
                <section class="card-blue">
                    <figure class="max-w-15">
                        <img src="/icons/react.svg" alt="react" />
                    </figure>
                </section>
                <section class="card-blue">
                    <figure class="max-w-15">
                        <img src="/icons/nextjs.svg" alt="nextjs" />
                    </figure>
                </section>
                <section class="card-blue">
                    <figure class="max-w-15">
                        <img src="/icons/nodejs.svg" alt="NodeJS" />
                    </figure>
                </section>
                <section class="card-blue">
                    <figure class="max-w-15">
                        <img src="/icons/postgre.svg" alt="PostgreSQL" />
                    </figure>
                </section>
                <section class="card-blue">
                    <figure class="max-w-15">
                        <img src="/icons/tailwindcss.svg" alt="tailwindcss" />
                    </figure>
                </section>
            </article>
        </article>
        <article class="card-blue mb-4">
            <section
                id="buttons-container"
                class="flex justify-center m-2 lg:justify-around"
            >
                <button id="my-experience" class="custom-button group">
                    <span>Mi Experiencia</span>
                </button>
                <button id="my-philosophy" class="custom-button group">
                    <span>Filosofía aplicada</span>
                </button>
                <button id="my-search" class="custom-button group">
                    <span> Lo que busco </span>
                </button>
            </section>
            <section>
                <section id="experience">
                    <h3
                        class="text-xl font-extrabold md:text-2xl lg:text-3xl head-Gradient"
                    >
                        &lt; Mi experiencia /&gt;
                    </h3>
                    <p class="text-sm md:text-md lg:text-xl">
                        A lo largo de mi carrera, he trabajado en el desarrollo
                        de aplicaciones web completas, desempeñando tanto el rol
                        de front-end como back-end. Mi experiencia incluye el
                        uso de varios frameworks y tecnologías, tales como:
                        Front-end: React.js, Next.js, y Astro. Back-end:
                        Node.js, NestJS. Bases de datos: Experiencia con
                        PostgreSQL y Prisma ORM para la gestión de bases de
                        datos relacionales. Además, tengo experiencia creando
                        APIs RESTful, utilizando prácticas de desarrollo
                        modernas como el patrón MVC para estructurar proyectos,
                        y diseñando diagramas de bases de datos para asegurar la
                        eficiencia y escalabilidad de los sistemas.
                    </p>
                </section>
                <section id="philosophy-section" class="hidden">
                    <h3
                        class="text-xl font-extrabold md:text-2xl lg:text-3xl head-Gradient"
                    >
                        &lt; Mi Filosofía /&gt;
                    </h3>
                    <p class="text-sm md:text-md lg:text-xl">
                        Me considero autodidacta y tengo una gran pasión por la
                        programación. Dedico más de 2 horas diarias a aprender
                        sobre nuevas tecnologías y mejorar las que ya manejo, lo
                        que me permite mantenerme actualizado con las últimas
                        tendencias y buenas prácticas en el desarrollo de
                        software.
                    </p>
                </section>
                <section id="search" class="hidden">
                    <h3
                        class="text-xl font-extrabold md:text-2xl lg:text-3xl head-Gradient"
                    >
                        &lt; Lo que busco /&gt;
                    </h3>
                    <p class="text-sm md:text-md lg:text-xl">
                        Estoy buscando formar parte de un equipo donde pueda
                        aportar mis habilidades técnicas, aprender de otros
                        profesionales y colaborar en la creación de productos
                        innovadores. Mi objetivo es seguir creciendo como
                        desarrollador y seguir aprendiendo día a día para
                        convertirme en un experto en el campo.
                    </p>
                </section>
            </section>
        </article>
    </article>
</section>

<script>
    import { initializeAboutHandlers } from "@/utils/buttonHandler";
    document.addEventListener("DOMContentLoaded", () => {
        initializeAboutHandlers();
    });
</script>
<style>
     section:has(> figure) {
        @apply bg-gray-300
    }
</style>