<section class="sect-hello box-shadow">
            <div class="img-container" onmouseover="changeImg()" onmouseout="restoreImg()">
                <img id="img-logo" src="logo.svg" alt="logoPersonal">
            </div>
            <article class="hello-container">
                <h1>Sebastian Galeano</h1>
                <span>DraCode - FullStack Developer</span>
                <p>¡Hola, soy Sebastian!. Realizo paginas web y servidores con diferentes tegnologias.
                    Programo como freelancer hace 2 años en proyectos personales.
                </p>
                <span>Bienvenido a mi sitio web y portfolio personal</span>
            </article>
</section>

<style>
     .sect-hello {
    margin: 3em 1em;
    text-align: center;
    padding: 1em;
  }
  
  .img-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    animation: shadow 3s alternate infinite;
    overflow: hidden;
  
    & img {
      max-width: 100%;
      transition: transform 5s ease;
      object-fit: cover;
    }
  }
  
  @keyframes shadow {
    to {
      box-shadow: 0px 0px 10px #fafafa;
    }
  
    from {
  
      box-shadow: 0px 0px 30px #fafafa;
    }
  }
  
  .hello-container {
    margin: 0.5em;
  
    & p {
      margin: 0.4em;
    }
  
    span {
      color: #80ff60;
    }
  }
</style>