<section
  class="my-6 text-green-200 text-center w-sm p-6 rounded-lg max-h-max"
>
  <h1 class="m-2 text-4xl font-extrabold md:text-5xl lg:text-6xl lg:m-4">
    <span
      class="head-Gradient"
      >&lt; Hello world! /&gt; </span>
  </h1>
  <p class="text-xl lg:text-3xl">Welcome to my portfolio.</p>
  <section
    class="flex flex-col lg:flex-row gap-4 justify-center items-center p-4"
  >
    <article>
      <article
        class="mx-auto max-w-[250px] max-h-[250px] rounded-full overflow-clip"
      >
        <a href="./Home">
          <img
            class="w-full object-cover"
            id="img-logo"
            src="/icons/logo.svg"
            alt="logoPersonal"
          />
        </a>
      </article>
      <span class="text-sm">Click the dragon</span>
    </article>
    <h5 class="mb-2 text-2xl font-bold">
      Sebastian Galeano <br /> FullStack Developer
    </h5>
  </section>
</section>
