<section>
    <h3
        class="m-3 text-2xl font-extrabold md:text-3xl lg:text-4xl head-Gradient"
    >
        &lt;Certificaciones /&gt;
    </h3>
    <!-- Certificado Global Learning -->
    <article class="card-blue m-2">
        <h3
            class="m-2 text-2xl font-extrabold md:text-3xl lg:text-4xl head-Gradient"
        >
            &lt;Global Learning/&gt;
        </h3>
        <article>
            <h2
                class="m-2 text-xl font-extrabold md:text-2xl lg:text-4xl head-Gradient"
            >
                FullStack Developer - MERN
            </h2>
            <!-- Descripción -->
            <article class="m-2">
                <p class="mb-3 text-sm md:text-md lg:text-xl">
                    <span class="head-Gradient font-bold"
                        >Tecnologías Front-End:</span
                    ><br /> HTML5 (DOM) - CSSOM - CSS3 (Box Model | Grid y Flexbox
                    | Responsive Design | Mobile First)- Astro - ReactJS - NextJS
                    - TailwindCSS - MaterialUI - DaisyUI
                </p>
                <p class="mb-3 text-sm md:text-md lg:text-xl">
                    <span class="head-Gradient font-bold"
                        >Tecnologías Back-End:</span
                    ><br />
                    Javascript (DOM | Events) - Typescript - NodeJS (Servers | NPM
                    - PNPM) - ExpressJS (CRUD | Middlewares | Router) - HASH Validations
                    - JWT (Json web token) - Socket.io - SQL - MongoDB - Redis -
                    PostgreSQL - PrismaORM - i18N l10n - AWS Cloud
                </p>
                <p class="mb-3 text-sm md:text-md lg:text-xl">
                    <span class="head-Gradient font-bold"
                        >Otras Tecnologías:</span
                    ><br />
                    Git + Github - Habilidades blandas - Logica operacional - Markdown
                    - Trello - Figma
                </p>
            </article>
        </article>
        <!-- Imagen -->
        <article class="m-2">
            <figure class="max-w-15">
                <img src="/images/C1.png" alt="Certificado de Ingles A1.1" />
            </figure>
        </article>
    </article>
    <!-- Certificado UTN -->
    <article class="card-blue m-2">
        <h3
            class="m-2 text-2xl font-extrabold md:text-3xl lg:text-4xl head-Gradient"
        >
            &lt;UTN/&gt;
        </h3>
        <article>
            <h2
                class="m-2 text-xl font-extrabold md:text-2xl lg:text-4xl head-Gradient"
            >
                FullStack Developer - MERN
            </h2>
            <article class="m-2">
                <p class="mb-3 text-sm md:text-md lg:text-xl">
                    <span class="head-Gradient font-bold"
                        >Tecnologías Front-End:</span
                    ><br />
                    HTML5 (DOM) - CSS3 (Responsive Design | Grid y Flexbox ) - TailwindCSS
                    - ReactJS
                </p>
                <p class="mb-3 text-sm md:text-md lg:text-xl">
                    <span class="head-Gradient font-bold"
                        >Tecnologías Back-End:</span
                    ><br />
                    JavaScript - TypeScript - NodeJS - ExpressJS - MongoDB 
                </p>
                <p class="mb-3 text-sm md:text-md lg:text-xl">
                    <span class="head-Gradient font-bold"
                        >Otras Tecnologías:</span
                    ><br />
                    Git + Github - Trello - Habilidades blandas
                </p>
            </article>
        </article>
        <article class="m-2">
            <figure class="max-w-15">
                <img src="/images/C4.png" alt="Certificado UTN" />
            </figure>
        </article>
    </article>
    <!-- Certificados Argentina Programa -->
    <article class="card-blue m-2 grid gap-4">
        <h3
            class="m-2 text-xl font-extrabold md:text-2xl lg:text-4xl head-Gradient"
        >
            &lt;Argentina Programa 4.0/&gt;
        </h3>
        <!-- Ingles -->
        <article class="card-blue">
            <article>
                <h2
                    class="m-2 text-xl font-extrabold md:text-2xl lg:text-4xl head-Gradient"
                >
                    Ingles IT A1.1
                </h2>
                <p class="m-3 text-sm md:text-md lg:text-xl">
                    Vocabulario basico IT, gramatica, comprension auditia,
                    compresion de lectura, cultura y practicas tecnologicas,
                    expresion oral y escrita
                </p>
            </article>
            <article class="m-2">
                <figure class="max-w-15">
                    <img
                        src="/images/C1.png"
                        alt="Certificado de Ingles A1.1"
                    />
                </figure>
            </article>
        </article>
        <!-- ReactJS -->
        <article class="card-blue">
            <article>
                <h2
                    class="m-2 text-xl font-extrabold md:text-2xl lg:text-4xl head-Gradient"
                >
                    ReactJS
                </h2>
                <p class="m-3 text-sm md:text-md lg:text-xl">
                    Componentes y Props, JSX, Hooks, Ciclos de vida de
                    componentes, Routing, Gestión del estado con Context API,
                </p>
            </article>
            <article class="m-2">
                <figure class="max-w-15">
                    <img src="/images/C3.png" alt="Certificado ReactJS" />
                </figure>
            </article>
        </article>
        <!-- FrontEnd -->
        <article class="card-blue">
            <article>
                <h2
                    class="m-2 text-xl font-extrabold md:text-2xl lg:text-4xl head-Gradient"
                >
                    Front-End Developer
                </h2>
                <p class="m-3 text-sm md:text-md lg:text-xl">
                    Conocimientos basicos HTML5, CSS3 y JavaScripts. Responsive
                    Web Design. Git: Control de versiones. Testing y depuracion
                    de aplicacion. Optimizacion y Rendimiento. Accesibilidad y
                    practicas de Desarrollo Web
                </p>
            </article>
            <article class="m-2">
                <figure class="max-w-15">
                    <img src="/images/C2.png" alt="Certificado FrontEnd" />
                </figure>
            </article>
        </article>
    </article>
</section>
