<section class="m-2">
    <!-- Certificados Argentina Programa -->
    <article>
        <h3
            class="m-2 text-xl font-extrabold md:text-2xl lg:text-4xl head-Gradient"
        >
            &lt;Argentina Programa 4.0/&gt;
        </h3>
        <!-- Ingles -->
        <article class="card-blue">
            <article>
                <h2
                    class="m-2 text-xl font-extrabold md:text-2xl lg:text-4xl head-Gradient"
                >
                    Ingles IT A1.1
                </h2>
                <p class="m-3 text-sm md:text-md lg:text-xl">
                    Vocabulario basico IT, gramatica, comprension auditia,
                    compresion de lectura, cultura y practicas tecnologicas,
                    expresion oral y escrita
                </p>
            </article>
            <article class="m-2">
                <figure class="max-w-15">
                    <img
                        src="/images/C1.png"
                        alt="Certificado de Ingles A1.1"
                    />
                </figure>
            </article>
        </article>
    </article>
</section>
