<article class="cert-container box-shadow">
    <div class="info-cert-container white-shadow">
        <h3>Programador web FullStack</h3>
        <span>UTN</span>
        <p>Duracion: 6 meses</p>
        <div class="img-container">
            <img src="/C4.png" alt="certificado1" />
        </div>
    </div>
    <div class="info-cert-container box-shadow">
        <h3>Ingles IT A1.1</h3>
        <span>Argentina Programa</span>
        <p>Duracion: 1 mes</p>
        <div class="img-container">
            <img src="/C1.png" alt="UTN" />
        </div>
    </div>
    <div class="info-cert-container white-shadow">
        <h3>Programador web Front-End</h3>
        <span>Argentina Programa 4.0</span>
        <p>Duracion: 2 meses</p>
        <div class="img-container">
            <img src="/C2.png" alt="ArgPrograma" />
        </div>
    </div>
    <div class="info-cert-container box-shadow">
        <h3>Programador web Front-End ReactJS</h3>
        <span>Argentina Programa 4.0</span>
        <p>Duracion: 2 meses</p>
        <div class="img-container">
            <img src="/C3.png" alt="Reactjs Certificado" />
        </div>
    </div>
</article>

<style>
    .cert-container {
        margin: 1em;
        padding: 1em;
    }
    .info-cert-container{
        margin: 1em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        & h3 {
            margin: 0.5em;
            color: #80ff60;
        }
    }
    .img-container {
        padding: 0.5em;
        max-width: 100%;
        height: auto;
    }
    img {
        object-fit: contain;
        width: 100%;
    }

</style>
