<article class="cert-container box-shadow">
    <h2>Certificaciones</h2>
    <div class="info-cert-container">
        <h3>Programador web FullStack</h3>
        <span>UTN</span>
        <p>Duracion: 6 meses</p>
        <img src="/C4.png" alt="certificado1">
    </div>
    <div class="info-cert-container">
        <h3>Ingles IT A1.1</h3>
        <span>Argentina Programa</span>
        <p>Duracion: 1 mese</p>
        <img src="/C3.png" alt="UTN"></div>
    <div class="info-cert-container">
        <h3>Programador web Front-End</h3>
        <span>Argentina Programa 4.0</span>
        <p>Duracion: 2 meses</p>
        <img src="/C1.png" alt="ArgPrograma"></div>
    <div class="info-cert-container">
        <h3>Programador web Front-End ReactJS</h3>
        <span>Argentina Programa 4.0</span>
        <p>Duracion: 2 meses</p>
        <img src="/C3.png" alt="Reactjs Certificado"></div>
</article>

<style>
    .cert-container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }
</style>