<section class="sec-container box-shadow">
    <h2>Certificaciones</h2>
    <section class="cert-container">
        <article class="info-cert-container white-shadow">
            <h3>Programador web FullStack</h3>
            <span>UTN</span>
            <h4>Temas:</h4>
            <ul>
                <li>HTML5: Maquetacion de paginas web dinamicas y estaticas</li>
                <li>CSS3: Estilos - CSS Grid - CSS Flex</li>
                <li>Proyectos con framework ReactJS</li>
                <li>Responsive Web Design</li>
                <li>Git: Control de versiones</li>
                <li>JavaScripts: Conceptos avazados - Funciones</li>
                <li>TypeScript: Conceptos basicos y aplicaciones</li>
                <li>NodeJS: Servidores ExpressJS - Arquitectura MVC </li>
                <li>API: Creacion y integracion de una API</li>
                <li>Metodos HTTP</li>
            </ul>
            <section class="img-container">
                <img src="/C4.png" alt="certificado1" />
            </section>
        </article>
        <article class="info-cert-container box-shadow">
            <h3>Ingles IT A1.1</h3>
            <span>Argentina Programa 4.0</span>
            <h4>Temas</h4>
            <ul>
                <li>Vocabulario básico IT</li>
                <li>Gramática</li>
                <li>Comprensión auditiva</li>
                <li>Comprensión de lectura</li>
                <li>Cultura y prácticas tegnológicas</li>
                <li>Expresión oral y escrita</li>
            </ul>
            <br>
            <section class="img-container">
                <img src="/C1.png" alt="UTN" />
            </section>
        </article>
        <article class="info-cert-container white-shadow">
            <h3>Programador web Front-End</h3>
            <span>Argentina Programa 4.0</span>
            <h4>Temas:</h4>
            <ul>
                <li>Conocimientos basicos HTML5 y CSS3</li>
                <li>Conocimientos basicos JavaScripts</li>
                <li>Responsive Web Design</li>
                <li>Git: Control de versiones</li>
                <li>Testing y depuracion de aplicacion</li>
                <li>Optimizacion y Rendimiento</li>
                <li>Accesibilidad</li>
                <li>Practicas de Desarrollo Web</li>
            </ul>
            <br>
            <section class="img-container">
                <img src="/C2.png" alt="ArgPrograma" />
            </section>
        </article>
        <article class="info-cert-container box-shadow">
            <h3>Programador web Front-End ReactJS</h3>
            <span>Argentina Programa 4.0</span>
            <h4>Temas:</h4>
            <ul>
                <li>Componentes y Props</li>
                <li>JSX</li>
                <li>Hooks</li>
                <li>Ciclos de vida de componentes</li>
                <li>Routing</li>
                <li>Gestión del estado con Context API y Redux</li>
            </ul>
            <section class="img-container">
                <img src="/C3.png" alt="Reactjs Certificado" />
            </section>
        </article>
    </section>
</section>

<style>
    .sec-container{
        margin: 1em;
        & h2{
            margin-top: 0.2em;
            color: #80ff60;
        }
    }
    .cert-container {
        padding: 1em;
        display: grid;
    }
    .info-cert-container{
        margin: 0.5em;
        display: flex;
        flex-direction: column;
        justify-items: center;
        & h3, h4 {
            color: #80ff60;
            margin: 0.5em;
        }
        span{
            font-size: 0.8rem;
        }
        ul li{
            margin: 0.3em;
            display: block;
            list-style: none;
            font-size: 0.8rem;
        }

    }
    .img-container {
        margin: 1em;
        padding: 0.5em;
        max-width: 100vh;
        height: auto;
    }
    img {
        object-fit: contain;
        width: 100%;
    }
    @media(min-width: 600px){
        .cert-container{
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: auto;
        justify-content: center;
        align-items: center;
        grid-gap: 1em;
        grid-auto-flow: dense;
        }
    }
</style>
