<footer
  class="m-3 rounded-lg shadow sm:flex sm_items-center sm:justify-center sm:content-center bg-white text-black dark:bg-dark-gradient dark:text-darkText"
>
  <section class="w-full max-w-screen-xl mx-auto">
    <section
      class="sm:flex sm:items-center sm:justify-center lg:justify-beetwen"
    >
      <a
        href="https://github.com/sebastiangaleano20"
        class="flex items-center justify-center content-center mb-2 space-x-3 rtl:space-x-reverse"
      >
        <img src="icons/logo.svg" class="h-8 rounded-full" alt="Logo" />
        <span
          class="self-center text-xl sm:text-md font-semibold whitespace-nowrap dark:text-white"
          >DraCodev</span
        >
      </a>
      <ul
        class="flex flex-wrap justify-center content-center items-center mb-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Contact</a>
        </li>
      </ul>
    </section>
    <hr class="m-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
    <span
      class="block mb-6 text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="/Home" class="hover:underline">Sebastian Galeano</a>.
      All Rights Reserved.</span
    >
  </section>
</footer>
