<footer
  class=" rounded-lg shadow sm:flex sm_items-center sm:justify-center sm:content-center text-black bg-dark-gradient text-darkText"
>
  <section class="w-full max-w-screen-xl mx-auto">
    <section
      class="sm:flex sm:items-center sm:justify-center lg:justify-beetwen"
    >
      <a
        href="https://github.com/sebastiangaleano20"
        class="flex items-center justify-center content-center mb-2 space-x-3 rtl:space-x-reverse"
      >
        <img src="/icons/logo.svg" class="h-8 rounded-full" alt="Logo" />
        <span
          class="self-center text-xl sm:text-md font-semibold whitespace-nowrap dark:text-white"
          >DraCodev</span
        >
      </a>
    </section>
    <hr class="m-2 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
    <span
      class="m-3 text-sm text-gray-500 text-center dark:text-gray-400"
      >© 2024 <a href="/Home" class="hover:underline">Sebastian Galeano</a>.
      All Rights Reserved.</span
    >
  </section>
</footer>
