<footer class="p-4 text-center">
  <section>
    <a
      href="https://github.com/sebastiangaleano20"
      class="flex items-center justify-center content-center mb-2 space-x-3 rtl:space-x-reverse"
    >
      <img src="/icons/logo.svg" class="h-8 rounded-full" alt="Logo" />
      <span
        class="self-center text-xl sm:text-md font-semibold whitespace-nowrap dark:text-white"
        >DraCodev</span
      >
    </a>
  </section>
  <span class="text-sm text-gray-500 dark:text-gray-400"
    >© 2024 <a href="/Home" class="hover:underline">Sebastian Galeano</a>. All
    Rights Reserved.</span
  >
</footer>
