<article class="grid gap-2 p-2">
  <h3 class="head-Gradient text-2xl lg:text-3xl font-bold">
    &lt;Proyectos /&gt;
  </h3>
  <section class="grid gap-2 md:grid-cols-2 md:grid-rows-2">
    <!-- Sección Escucha Facil -->
    <section class="card-blue grid gap-2 md:grid-cols-3">
      <!--Contenedor Titulo | Imagen -->
      <article>
        <h3 class="head-Gradient text-xl font-bold mb-2">
          &lt;Escucha Facil App /&gt;
        </h3>
        <img src="/images/Ef.png" alt="Escucha Facil img" />
      </article>
      <!--Contenedor Descripción | Botones -->
      <article>
        <p class="mb-3 text-sm md:text-md lg:text-lg">
          Proyecto Final Beca InterTEC - Aplicación de música con IA integrada.
          Proyecto FullStack con APIRestful creada con NodeJS, Express,
          PostgreSQL, ReactJS, TailwindCSS. Utilizando la API de Cohere para
          generar respuestas con inteligencia artificial mendiante comandos de
          voz. Se puede interactuar con la Aplicación mediante voz con los
          siguientes comandos: - Cambiar fondo (Rojo,
          Azul,Violeta,Comida,Estrellas). - Ir a Historial - Ir a Playlists - Ir
          a Inicio. - Obtener información sobre los creadores de la app.
          información sobre la Aplicación y sus funciones y hasta cuenta
          chistes!.
        </p>
        <button
          type="button"
          class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          <a
            target="_blank"
            href="https://github.com/fernandoderrigo/ProyectoFinal-IntegrarTec"
            >Repo Github</a
          ></button
        >
        <button
          type="button"
          class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          <a target="_blank" href="https://escuchafacil.vercel.app/"
            >URL Deploy</a
          ></button
        >
      </article>
      <!-- Contenedor Tecnologías -->
      <article class="grid gap-4 grid-cols-5">
        <article class="card-blue">
          <figure>
            <img src="/icons/js.svg" alt="Javascripts" />
          </figure>
        </article>
        <article class="card-blue">
          <figure>
            <img src="/icons/nextjs.svg" alt="nextjs" />
          </figure>
        </article>
        <article class="card-blue">
          <figure>
            <img src="/icons/nodejs.svg" alt="NodeJS" />
          </figure>
        </article>
        <article class="card-blue">
          <figure>
            <img src="/icons/postgre.svg" alt="postgre" />
          </figure>
        </article>
        <article class="card-blue">
          <figure>
            <img src="/icons/tailwindcss.svg" alt="tailwindcss" />
          </figure>
        </article>
        <article class="card-blue">
          <figure>
            <img src="/icons/aws.svg" alt="aws" />
          </figure>
        </article>
        <article class="card-blue">
          <figure>
            <img src="/icons/prisma.svg" alt="prisma" />
          </figure>
        </article>
      </article>
    </section>
    <!-- Sección Barrio Fino -->
    <section class="card-blue grid gap-2">
      <!--Contenedor Titulo | Imagen -->
      <article>
        <h3 class="head-Gradient text-xl md:text-xl font-bold mb-2">
          &lt;Barrio Fino Page /&gt;
        </h3>
        <img src="/images/barber.png" alt="Barber img" />
      </article>
      <!--Contenedor Descripción | Botones -->
      <article>
        <p class="mb-3 text-sm md:text-md lg:text-lg m-2">
          Proyecto Freelancer - Pagina web dinamica para barbería familiar.
          Realizado con NextJS, TailwindCSS (DaisyUI) y React-Icons. Interacción
          del usuario para solicitar turnos - ver imagenes de cortes realizados
          Pagina responsive para celulares.
        </p>
        <button
          type="button"
          class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          <a
            target="_blank"
            href="https://github.com/SebastianGaleano20/barber-app"
            >Repo Github</a
          ></button
        >
        <button
          type="button"
          class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          <a target="_blank" href="https://barriofino-barber.vercel.app/"
            >URL Deploy</a
          ></button
        >
      </article>
      <!-- Contenedor Tecnologías -->
      <article class="grid gap-4 grid-cols-5">
        <article class="card-blue">
          <figure>
            <img src="/icons/js.svg" alt="Javascripts" />
          </figure>
        </article>
        <article class="card-blue">
          <figure>
            <img src="/icons/nextjs.svg" alt="nextjs" />
          </figure>
        </article>
        <article class="card-blue">
          <figure>
            <img src="/icons/tailwindcss.svg" alt="tailwindcss" />
          </figure>
        </article>
      </article>
    </section>
    <!-- Sección API Restfull -->
    <section class="card-blue">
      <!--Contenedor Titulo | Imagen -->
      <article>
        <h3 class="head-Gradient text-xl md:text-xl font-bold mb-2">
          &lt;API Restfull Escucha Facil /&gt;
        </h3>
        <img src="/images/api1.png" alt="Api Img" />
      </article>
      <!--Contenedor Descripción | Botones -->
      <article>
        <p class="mb-3 text-sm md:text-md lg:text-lg m-2">
          Proyecto Final InterTEC <br />
          API Restfull con NodeJS, Express conectado a Base de datos relacional PostgreSQL
          y nube AWS. Validaciones de datos con Joi, Hash de contraseñas, creacion
          y validacion de Tokens. Utilizando Schemas y modelos con Prisma
        </p>
        <button
          type="button"
          class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          <a
            target="_blank"
            href="https://github.com/fernandoderrigo/ProyectoFinal-IntegrarTec-Back"
            >Repo Github</a
          ></button
        >
        <button
          type="button"
          class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          <a
            target="_blank"
            href="https://proyectofinal-integrartec-back.onrender.com/api"
            >URL Deploy</a
          ></button
        >
      </article>
      <!-- Contenedor Tecnologías -->
      <article class="grid gap-4 grid-cols-5 mt-2">
        <article class="card-blue">
          <figure>
            <img src="/icons/js.svg" alt="Javascripts" />
          </figure>
        </article>
        <article class="card-blue">
          <figure class="max-w-15">
            <img src="/icons/nodejs.svg" alt="NodeJS" />
          </figure>
        </article>
        <article class="card-blue">
          <figure class="max-w-15">
            <img src="/icons/express.svg" alt="express" />
          </figure>
        </article>
        <article class="card-blue">
          <figure class="max-w-15">
            <img src="/icons/postgre.svg" alt="PostgreSQL" />
          </figure>
        </article>
        <article class="card-blue">
          <figure class="max-w-15">
            <img src="/icons/prisma.svg" alt="prisma" />
          </figure>
        </article>
        <article class="card-blue">
          <figure class="max-w-15">
            <img src="/icons/aws.svg" alt="aws" />
          </figure>
        </article>
        <article class="card-blue">
          <figure class="max-w-15">
            <img src="/icons/postman.svg" alt="postman" />
          </figure>
        </article>
      </article>
    </section>
    <style>
      article:has(> figure) {
        @apply bg-gray-400 rounded-lg;
      }
    </style>
  </section>
</article>
