<p>
    💼 Proyectos y Freelance He trabajado tanto en proyectos académicos como
    en el mundo real. Como freelancer, he desarrollado soluciones para
    emprendimientos como una barbería, donde diseñé y desarrollé páginas web
    y APIs para gestionar sus servicios. Esto me permitió mejorar mis
    habilidades de comunicación con el cliente, entender sus necesidades y
    entregar productos de calidad a tiempo.
</p>