<article
  class="skills-container box-shadow bg-white text-black dark:bg-dark-gradient dark:text-darkText"
>
  <h2>Skills Tecnologicos</h2>
  <div class="logos-container">
    <img src="/icons/html.svg" alt="HTML5" />
    <img src="/icons/css.svg" alt="CSS" />
    <img src="/icons/js.svg" alt="Javascripts" />
    <img src="/icons/nodejs.svg" alt="NodeJS" />
    <img src="/icons/git.svg" alt="GIT" />
    <img src="/icons/Astro.svg" alt="astro" />
    <img src="/icons/react.svg" alt="react" />
    <img src="/icons/nextjs.svg" alt="nextjs" />
    <img src="/icons/vite.svg" alt="vite" />
    <img src="/icons/tailwindcss.svg" alt="tailwindcss" />
    <img src="/icons/postgre.svg" alt="postgre" />
    <img src="/icons/prisma.svg" alt="prisma" />
    <img src="/icons/linux.svg" alt="linux" />
    <img src="/icons/aws.svg" alt="aws" />
  </div>
</article>

<style>
  .skills-container {
    margin: 1em;
    & h2 {
      margin-top: 0.2em;
    }
  }

  .logos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    grid-auto-flow: dense;
    margin: 1em;
    & img {
      background-color: #fafafa;
      padding: 0.5em;
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 820px) {
    .logos-container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
</style>
