---
import Footer from '@/components/Footer.astro'
---

<section class="grid gap-4 justify-center">
    <h1
        class="mt-2 text-3xl font-extrabold md:text-4xl lg:text-5xl head-Gradient"
    >
        &lt;Skills /&gt;
    </h1>
    <section class="grid gap-4">
        <section
            class="max-w-sm m-2 p-4 border-2 border-customBlue rounded-lg shadow"
        >
            <figure class="max-w-xs md:order-last lg:max-w-md">
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="/icons/logo.svg"
                    alt="image description"
                />
            </figure>
            <p class="text-sm font-bold lg:text-2xl">
                Mi enfoque hacia la calidad del código es uno de mis mayores
                principios, por lo que me he capacitado en Testing utilizando
                herramientas como Playwright, Vitest y Cypress. Además, he
                aprendido a migrar proyectos de JavaScript a TypeScript, lo que
                me ha permitido escribir código más robusto y fácil de mantener.
                Soy un firme creyente del enfoque Mobile First y siempre
                implemento diseños responsivos para asegurar que las
                aplicaciones que desarrollo sean completamente funcionales en
                cualquier dispositivo.
            </p>
        </section>

        <section class="m-2">
            <article>
                <h3 class="head-Gradient">  &lt;Languages /&gt;</h3>
                <section class="grid grid-cols-2 gap-4 p-2">
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/js.svg" alt="Javascripts" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img
                                src="/icons/typescript.svg"
                                alt="Javascripts"
                            />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/html.svg" alt="HTML" />
                        </figure>
                    </section>
                </section>
            </article>
            <article>
                <h3 class="head-Gradient">  &lt;Library | Framework Frontend /&gt;</h3>
                <section class="grid grid-cols-2 gap-4 p-2">
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/Astro.svg" alt="astro" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/react.svg" alt="react" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/nextjs.svg" alt="nextjs" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/vite.svg" alt="vite" />
                        </figure>
                    </section>
                </section>
            </article>
            <article>
                <h3 class="head-Gradient">  &lt;Library | Framework Backend /&gt;</h3>
                <section class="grid grid-cols-2 gap-4 p-2">
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/nodejs.svg" alt="NodeJS" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/nestjs.svg" alt="NestJS" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/firebase.svg" alt="Firebase" />
                        </figure>
                    </section>
                </section>
            </article>
            <article>
                <h3 class="head-Gradient">  &lt;Database /&gt;</h3>
                <section class="grid grid-cols-2 gap-4 p-2">
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/postgre.svg" alt="postgre" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/firebase.svg" alt="Firebase" />
                        </figure>
                    </section>
                </section>
            </article>
            <article>
                <h3 class="head-Gradient">  &lt;Framework CSS | UI Component /&gt;</h3>
                <section class="grid grid-cols-2 gap-4 p-2">
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/css.svg" alt="CSS" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img
                                src="/icons/tailwindcss.svg"
                                alt="tailwindcss"
                            />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/daisyui.svg" alt="DaisyUI" />
                        </figure>
                    </section>
                </section>
            </article>
            <article>
                <h3 class="head-Gradient">  &lt;Testing /&gt;</h3>
                <section class="grid grid-cols-2 gap-4 p-2">
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/playwrite.png" alt="Playwrite" />
                        </figure>
                    </section>
                    <section class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/vitest.svg" alt="Vitest" />
                        </figure>
                    </section>
                </section>
            </article>
            <article>
                <h3 class="head-Gradient">  &lt;Tools /&gt;</h3>
                <section class="grid grid-cols-2 gap-4 p-2">
                    <section  class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/aws.svg" alt="aws" />
                        </figure>
                    </section>
                    <section  class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/prisma.svg" alt="prisma" />
                        </figure>
                    </section>
                    <section  class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/linux.svg" alt="linux" />
                        </figure>
                    </section>
                    <section  class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/git.svg" alt="git" />
                        </figure>
                    </section>
                    <section  class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/postman.svg" alt="postman" />
                        </figure>
                    </section>
                    <section  class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/trello.svg" alt="trello" />
                        </figure>
                    </section>
                    <section  class="card-skills">
                        <figure class="max-w-36">
                            <img src="/icons/figma.svg" alt="figma" />
                        </figure>
                    </section>
                </section>
            </article>
        </section>
    </section>
    <Footer />
</section>
<style>
    h3 {
        @apply text-lg font-extrabold md:text-2xl lg:text-3xl
    }
</style>