<section class="grid gap-4">
    <h1
        class="m-4 text-3xl font-extrabold md:text-4xl lg:text-5xl text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
    >
        &lt; Skills /&gt;
    </h1>
    <section>
        <article>
            <figure class="max-w-xs md:order-last lg:max-w-md">
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="/icons/logo.svg"
                    alt="image description"
                />
            </figure>
            <p class="text-md lg:text-2xl">
                Mi enfoque hacia la calidad del código es uno de mis mayores
                principios, por lo que me he capacitado en Testing utilizando
                herramientas como Playwright, Vitest y Cypress. Además, he
                aprendido a migrar proyectos de JavaScript a TypeScript, lo que
                me ha permitido escribir código más robusto y fácil de mantener.
                Soy un firme creyente del enfoque Mobile First y siempre
                implemento diseños responsivos para asegurar que las
                aplicaciones que desarrollo sean completamente funcionales en
                cualquier dispositivo.
            </p>
        </article>

        <article>
            <section>
                <h3>Languages</h3>
                <article>
                    <figure class="max-w-36">
                        <img src="/icons/js.svg" alt="Javascripts" />
                    </figure>
                </article>
                <article>
                    <figure class="max-w-36">
                        <img src="/icons/typescript.svg" alt="Javascripts" />
                    </figure>
                </article>
                <article>
                    <figure class="max-w-36">
                        <img src="/icons/html.svg" alt="HTML" />
                    </figure>
                </article>
            </section>
            <section>
                <h3>Library / Framework Frontend</h3>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/Astro.svg" alt="astro" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/react.svg" alt="react" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/nextjs.svg" alt="nextjs" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/vite.svg" alt="vite" />
                    </figure>
                </section>
            </section>
            <section>
                <h3>Library / Framework Backend</h3>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/nodejs.svg" alt="NodeJS" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/nestjs.svg" alt="NestJS" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/firebase.svg" alt="Firebase" />
                    </figure>
                </section>
            </section>
            <section>
                <h3>Database</h3>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/postgre.svg" alt="postgre" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/firebase.svg" alt="Firebase" />
                    </figure>
                </section>
            </section>
            <section>
                <h3>Framework CSS / UI Component</h3>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/css.svg" alt="CSS" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/tailwindcss.svg" alt="tailwindcss" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/daisyui.svg" alt="DaisyUI" />
                    </figure>
                </section>
            </section>
            <section>
                <h3>Tools</h3>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/aws.svg" alt="aws" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/prisma.svg" alt="prisma" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/linux.svg" alt="linux" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/git.svg" alt="git" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/postman.svg" alt="postman" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/trello.svg" alt="trello" />
                    </figure>
                </section>
                <section>
                    <figure class="max-w-36">
                        <img src="/icons/figma.svg" alt="figma" />
                    </figure>
                </section>
            </section>
        </article>
    </section>
</section>
