<article class="skills-container box-shadow">
  <h2>Skills Tecnologicos</h2>
  <div class="logos-container">
    <img src="/html.svg" alt="HTML5" />
    <img src="/css.svg" alt="CSS" />
    <img src="/js.svg" alt="Javascripts" />
    <img src="/nodejs.svg" alt="NodeJS" />
    <img src="/git.svg" alt="GIT" />
    <img src="/Astro.svg" alt="astro" />
    <img src="/react.svg" alt="react" />
    <img src="/nextjs.svg" alt="nextjs">
    <img src="/vite.svg" alt="vite" />
    <img src="/tailwindcss.svg" alt="tailwindcss">
    <img src="/postgre.svg" alt="postgre">
    <img src="/prisma.svg" alt="prisma">
    <img src="/linux.svg" alt="linux">
    <img src="/aws.svg" alt="aws">
  </div>
</article>

<style>
  .skills-container {
    margin: 1em;
    & h2 {
      margin-top: 0.2em;
    }
  }

  .logos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    grid-auto-flow: dense;
    margin: 1em;
    & img {
      background-color: #fafafa;
      padding: 0.5em;
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width:820px) {
    .logos-container{

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
</style>
