<article class="skills-container box-shadow">
    <h2>Skills Tegnologicos</h2>
    <div class="logos-container">
        <img src="/html.svg" alt="HTML5">
        <img src="/css.svg" alt="CSS">
        <img src="/js.svg" alt="Javascripts">
        <img src="/nodejs.svg" alt="NodeJS">
        <img src="/git.svg" alt="GIT">
        <img src="/Astro.svg" alt="astro">
        <img src="/react.svg" alt="react">
        <img src="/vite.svg" alt="vite">
    </div>
</article>

<style>
    .skills-container {
    margin: 1em;
    & h2{
      margin-top: 0.2em;
    }
  }
  
  .logos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    justify-items: center;
  
    & img {
      background-color: #fafafa;
      padding: 0.5em;
      width: 100%;
      height:100%;
    }
  }
  @media(min-width: 600px){
    .logos-container{
      grid-template-columns: repeat(4,1fr);
      gap: 1em
    }
   .logos-container img{
    max-width: 100%;
   }
  }
</style>