<section class="grid gap-4">
    <h1>Conocimientos tecnológicos</h1>
    <p>
        Mi enfoque hacia la calidad del código es uno de mis mayores principios,
        por lo que me he capacitado en Testing utilizando herramientas como
        Playwright, Vitest y Cypress. Además, he aprendido a migrar proyectos de
        JavaScript a TypeScript, lo que me ha permitido escribir código más
        robusto y fácil de mantener. Soy un firme creyente del enfoque Mobile
        First y siempre implemento diseños responsivos para asegurar que las
        aplicaciones que desarrollo sean completamente funcionales en cualquier
        dispositivo.
    </p>
    <article class="grid grid-cols-[repeat(auto-fill,minmax(60px,1fr))] auto-rows-auto justify-center  items-center gap-4 m-4">
        <section>
            <figure class="max-w-36">
                <img src="/icons/html.svg" alt="HTML5" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/css.svg" alt="CSS" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/js.svg" alt="Javascripts" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/nodejs.svg" alt="NodeJS" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/Astro.svg" alt="astro" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/react.svg" alt="react" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/nextjs.svg" alt="nextjs" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/vite.svg" alt="vite" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/tailwindcss.svg" alt="tailwindcss" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/postgre.svg" alt="postgre" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/prisma.svg" alt="prisma" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/linux.svg" alt="linux" />
            </figure>
        </section>
        <section>
            <figure class="max-w-36">
                <img src="/icons/aws.svg" alt="aws" />
            </figure>
        </section>
    </article>
</section>
