<section class="works-container white-shadow">
    <h2>Proyectos web</h2>
    <section class="proyects-container">
        <article class="proyect-container">
            <h3>Pandora App</h3>
            <p>Pagina web estatica e-commerce para panificadora</p>
            <a target="_blank" href="https://pandora-of.vercel.app/"
                ><img
                    class="box-shadow"
                    src="pandora.svg"
                    alt="Pandora Img"
                /></a
            >
        </article>
        <article class="proyect-container">
            <h3>Portfolio Personal</h3>
            <p>Primer portfolio personal realizado en 2023</p>
            <a target="_blank" href="https://sebasdev-portfolio.vercel.app/"
                ><img
                    class="box-shadow"
                    src="portf.svg"
                    alt="Portfolio img"
                /></a
            >
        </article>
        <article class="proyect-container">
            <h3>Proyecto examen GlobalLearning</h3>
            <p>Pagina web estatica para rescatar animales</p>
            <a
                target="_blank"
                href="https://per-didos-encon-trados.netlify.app/"
                ><img
                    class="box-shadow"
                    src="perd-enc.svg"
                    alt="Page img"
                /></a
            >
        </article>
    </section>
</section>

<style>
    .works-container {
        text-align: center;
        margin: 1em;
        padding: 0.5em;

        & h2 {
            color: #80ff60;
        }
    }

    .proyects-container {
        display: grid;
        justify-items: center;
        align-items: end;
    }

    .proyect-container {
        margin: 1em;
        width: 100%;

        & img {
            max-width: 100%;
        }

        h3 {
            color: #80ff60;
        }

        p {
            margin: 0.5em;
        }
    }
</style>
