<section class="works-container white-shadow">
    <h2>Proyectos web</h2>
    <section class="proyects-container">
        <article class="proyect-container box-shadow">
            <h3>NextJS App</h3>
            <p>Pagina web dinamica con NextJS conectada a una base de datos tipo PostgreSQL desde Vercel. </p>
            <a target="_blank" href="https://nextjs-proyect-amber.vercel.app/"
                ><img
                    src="/nextjsapp.png"
                    alt="Nextjs Img"
                /></a
            >
        </article>
        <article class="proyect-container box-shadow">
            <h3>Pandora App</h3>
            <p>Pagina web estatica e-commerce en proceso para panificadora. Realizado con ReactJS</p>
            <a target="_blank" href="https://pandora-of.vercel.app/"
                ><img
                    src="/pand.png"
                    alt="Pandora Img"
                /></a
            >
        </article>
        <article class="proyect-container white-shadow">
            <h3>Portfolio Personal</h3>
            <p>Primer portfolio personal realizado en 2023 con ReactJS</p>
            <a target="_blank" href="https://sebasdev-portfolio.vercel.app/"
                ><img
                    src="/port.png"
                    alt="Portfolio img"
                /></a
            >
        </article>
        <article class="proyect-container box-shadow">
            <h3>Proyecto examen GlobalLearning</h3>
            <p>Pagina web estatica para rescatar animales</p>
            <a
                target="_blank"
                href="https://per-didos-encon-trados.netlify.app/"
                ><img
                    src="/page.png"
                    alt="Page img"
                /></a
            >
        </article>
    </section>
</section>

<style>
    .works-container {
        margin: 1em;
        padding: 0.5em;

        & h2 {
            color: #80ff60;
        }
    }

    .proyects-container {
        display: grid;
        gap: 1em;
        justify-items: center;
        align-items: end;
        padding: 1em;
    }

    .proyect-container {
        width: 100%;
        height: 100%;
        & img {
            max-width: 100%;
        }

        h3 {
            color: #80ff60;
        }

        p {
            margin: 0.5em;
        }
    }

</style>
