---
import StarsField from "@/components/StarsField.astro";
import "@/styles/global.css";

interface Props {
  title: string;
  description: string;
  numberOfStars?: number;
}
const { title, description, numberOfStars = 150 } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/logo.svg" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen text-black bg-dark-gradient text-darkText">
    <section>
      <article class="starry-night">
        <StarsField numberOfStars={150} />
      </article>
      <slot />
    </section>
  </body>
</html>

<style>
  .starry-night {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
  }
</style>
