---
import "../styles/styles.css";
import NavBar from "./NavBar.astro";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/icono.svg" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body>
    <!-- <NavBar /> -->
    <slot />
  </body>
</html>
